<div class="container">
  <div class = "row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!--

        1) Mail Address not empty and valid email address
        2) Dropdown which allows user to select from 3 different subscriptions
        (Basic, Advanced, Pro)
        3) Password Field
        Submit Button


       Warning if form was invalid and was ouched. Each input gets warning message if invalid

       When form submited print the value of the form to console or dispaly in template.


      -->
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="form-group">
          <label for="email">Email Address
            <input
              ngModel
              name="email"
              type="email"
              id="email"
              class="form-control"
              required
              email
              autocomplete="email"
              #email="ngModel"
            >
          </label>
        </div>
        <p class="text-danger" *ngIf="!email.valid && email.touched">Please enter a valid email address.</p>

        <div class="form-group">
          <label for="subscriptionType">Subscription
            <select class="form-control"
            id="subscriptionType"
            name="subscriptionType"
            [ngModel]="subscription"
            required
            >
              <option *ngFor="let subscriptionName of subscriptionList "
              [ngValue]="subscriptionName">
                {{subscriptionName}}
              </option>
            </select>
          </label>
        </div>
        <div class="form-group">
          <label for="password">Create Password
            <input
            ngModel
            #password="ngModel"
            name="password"
            type="password"
            required
            autocomplete="password"
            class="form-control"
            id="password"
            >
          </label>
        </div>
        <p class="text-danger" *ngIf="!password.valid && password.touched">Please enter a password.</p>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!f.valid">Submit</button>
      </form>
    </div>
  </div>
  <hr>
  <div class="row" *ngIf="submitted">
    <h3> User Information: </h3>
    <div class="col-xs-12">
      <p>Email: {{user.email}} </p>
      <p>Subscription: {{user.subscription}}</p>
      <p>Password: {{user.password}}</p>
    </div>
  </div>
</div>
